.toolbox {
  position: relative;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  .toolbox-entry {
    font-size: 13px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    transition-duration: .5s;
    text-align: center;
    color: #555;
    border-radius: 50%;
    background: #f0f0f0;
    transition-propety: background-color;
    &:hover {
      cursor: pointer;
      background: #dfdfdf;
    }
  }
  .list-toolbox {
    position: absolute;
    top: -17px;
    left: 0px;
    //left: 46px;
    //display: none;
    width: 500px;
    display: block;
  	li {
    	a {
      		animation-duration: .8s;
      		animation-fill-mode: both;
   		 }
   	}
  	li:nth-child(1) a {
  	 // animation-name: zoomIn;
  	 animation-name: fadeIn;
  	}
  	li:nth-child(2) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .1s;
  	}
  	li:nth-child(3) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .2s;
  	}
  	li:nth-child(4) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .3s;
  	}
  	li:nth-child(5) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .4s;
  	}
  	li:nth-child(6) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .5s;
  	}
  	li:nth-child(7) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .6s;
  	}
  	li:nth-child(8) a {
  	  // animation-name: zoomIn;
  	  animation-name: fadeIn;
  	  animation-delay: .7s;
  	}
    li:nth-child(1) a.a-vertical {
     // animation-name: zoomIn;
     animation-name: fadeOut;
    }
    li:nth-child(2) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .1s;
    }
    li:nth-child(3) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .2s;
    }
    li:nth-child(4) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .3s;
    }
    li:nth-child(5) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .4s;
    }
    li:nth-child(6) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .5s;
    }
    li:nth-child(7) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .6s;
    }
    li:nth-child(8) a.a-vertical {
      // animation-name: zoomIn;
      animation-name: fadeOut;
      animation-delay: .7s;
    }
    &.list-vertical {
      width: 40px;
      left: -20px;
      top: 0px;
    }
    .item-toolbox {
      display: inline-block;
      a {
        font-size: 13px;
        line-height: 40px;
        display: inline-block;
        margin-bottom: 20px;
        transition-duration: .5s;
        text-align: center;
        color: #555;
        background: #f0f0f0;
        height: 40px;
        border-radius: 20px;
        transition-propety: background-color;
		&.VERTICAL {
		  margin-bottom: 10px;
		}
        &.CIRCLE {
          width: 40px;
        }
        &.ROUND_RECT {
          padding: 0 20px;
        }
        &:hover {
          background: #dfdfdf;
        }
      }
    }//item-box
  }//list-box
 &.tool-vertical {
   height: 20px;
   position: fixed;
   left: 150px;
   top: 0px;
   display: none;
   border-radius: 0px;
   border-left: 4px solid rgb(238, 238, 238);
 }
}
//
//@media screen and (max-width: 767px) {
//  .toolbox {
//    display: none;
//  }
//}
